@import "tailwindcss";

@theme {
  --color-brand-dark: #0f172a;
  --color-brand-gray: #94a3b8;
  --color-brand-light: #f8fafc;
}

/* Add this line below your @theme block */
@variant dark (&:where(.dark, .dark *));